<!--
  Generated template for the NowplayingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Host View</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 text-center id="name"> </h1>
  <!-- <h1 text-center *ngIf="userid == null"> {{userid}}'s Party</h1> -->
  <p> Party ID: G3HW8Z </p>


  <ion-list>
  <ion-item clear ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
    <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)"> -->
    <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)"> -->

    <ion-thumbnail item-start>
      <img src="https://yt3.ggpht.com/-APsbUMwis70/AAAAAAAAAAI/AAAAAAAAAAA/619A7af1k1g/s900-c-k-no-mo-rj-c0xffffff/photo.jpg">
    </ion-thumbnail>
    <h2>{{ item.title }}  </h2>
    <p>{{ item.note }} </p>

    <!-- <button ion-button clear item-end>
      <ion-icon name="heart-outline"></ion-icon>
    </button> -->

    <button ion-button clear item-end>
   <ion-icon>
   </ion-icon>
    </button>

      <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
      <!-- <div class="item-note" item-right> -->
      <!-- </div> -->
    <!-- </button> -->
  </ion-item>
  </ion-list>

</ion-content>
