<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="page">
    <h1 text-center>{{user.username}}</h1>
    <br>
    <button id="spotifyfull" ion-button color="spotify" block style="visibility:visible" (click)="spotifyLogin()">Register Spotify</button>
    <button id="soundcloud" ion-button block color="soundcloud" (click)="soundcloudLogin()">Register Soundcloud</button>
    <button id="youtube" ion-button block color="youtube" (click)="youtubeLogin()">Register Youtube</button>
    <br>




    <button ion-button primary block (click)="goQueue()">Join a New Party</button>
    <button ion-button secondary block (click)="newParty()">Create a New Party!</button>


    <br>
    <div *ngIf="userHost">
      <h3 text-center> Previously Hosted Events </h3>
      <ion-card *ngFor="let host of userHost">
        <!-- <ion-card> -->
        <ion-item text-center>
          <h1>{{host.party}}</h1>
        </ion-item>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="people"></ion-icon>
              <div>58 listeners</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="musical-notes"></ion-icon>
              <div>40 songs</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <br>
    <div *ngIf="userJoin">
      <h3 text-center> Previously Joined Events </h3>
      <ion-card *ngFor="let join of userJoin | async">
        <ion-item text-center>
          <h1>{{join.party}}</h1>
        </ion-item>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="people"></ion-icon>
              <div>124 listeners</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="musical-notes"></ion-icon>
              <div>93 songs</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <button ion-button secondary block (click)="logout()">Log Out</button>

    <button id="spotify" ion-button color="spotify" block style="visibility:hidden" clear (click)="spotifyLogout()">Register Spotify</button>

  </div>
</ion-content>