<!--
  Generated template for the SearchPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--Side Nav bar items-->
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
  </ion-navbar>

  <!--Toolbar for each tab-->
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="searchlist" (ionChange)="getItems($event)">
      <ion-segment-button value="songs">
        Songs
      </ion-segment-button>
      <ion-segment-button value="artists">
        Artists
      </ion-segment-button>
      <ion-segment-button value="genres">
        Genres
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!--Seach Bar, getItems triggered when any letter typed-->
  <ion-searchbar [(ngModel)]="searchcontents" (ionInput)="getItems($event)">
  </ion-searchbar>

</ion-header>

<!--Main Content of Page-->
<ion-content>

  <!--Current song list is determined by selected ion segment above-->
  <div id="searchlist" [ngSwitch]="searchlist" style="visibility:hidden;">

    <!--Songs Search Page-->
    <ion-list *ngSwitchCase="'songs'">
      <ion-item clear ion-item *ngFor="let song of songslist">
        <ion-thumbnail item-start>
          <img src="{{song.image}}" />
        </ion-thumbnail>
        <h2>
          {{song.title}}
        </h2>
        <p>
          {{song.artist}}
        </p>
        <button ion-button clear item-end (click)="itemTapped(song.id)">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <!--Artists Search Page-->
    <ion-list *ngSwitchCase="'artists'">
      <ion-item clear ion-item *ngFor="let artist of artistslist">
        <ion-thumbnail item-start>
          <img src="{{artist.image}}"/>
        </ion-thumbnail>
        <p>{{artist.name}}</p>
      </ion-item>
    </ion-list>

    <!--Generes Search Page-->
    <ion-list *ngSwitchCase="'genres'">
      <ion-item>
        <p> Genre 1 </p>
        <p> Genre 2 </p>
        <p> Genre 3 </p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>